.noteContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
    margin: 50px auto;
    width: 80%;
    max-width: 80%;
}

.note {
    box-sizing:border-box;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    height: 200px;
    word-wrap: break-word;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}
.note:hover{
    cursor: pointer;
    border: 3px solid #B90445;
}

.addNote {
    border: 1px solid #B90445;
    background-color: #B90445;
    text-align: center;
    box-shadow: none;
}
.addNote:hover{
    cursor: pointer;
    border: 1px solid #B90445;
}

.bigWhitePlus{
    color: white;
    font-weight: 500;
    font-size: 64px;
    line-height: 135px;
    width: 200px;
    height: 198px;
    align-items: center;
    text-align: center;
    
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modalWindow {
    background-color: #fefefe;
    margin: 6% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }

  .tools{
      height: 30px;
      padding: 0 10px
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: left;
    font-size: 25px;
    font-weight: bold;
  } .edit, .delete {
    color: #aaa;
    float: right;
    font-size: 25px;
    margin-left: 10px;
  }
  
  .close:hover,
  .close:focus,
  .edit:hover,
  .edit:focus,
  .delete:hover,
  .delete:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .textInput {
      width: 96%;
      height: 400px;
      margin-top: 20px;
      border: none;
      resize: none;
      padding: 15px;
  }
  .textInput:focus {
        outline: none;
  }

  .trashIcon:hover {
    fill: #B90445;
  }


  @media only screen and (max-width: 1700px){
    .noteContainer {
        grid-template-columns: repeat(5, 1fr);
    }
  }
  @media only screen and (max-width: 1500px){
    .noteContainer {
        grid-template-columns: repeat(4, 1fr);
    }
  }
  @media only screen and (max-width: 1200px){
    .noteContainer {
        grid-template-columns: repeat(3, 1fr);
    }
  }
  @media only screen and (max-width: 800px){
    .noteContainer {
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 590px){
    .noteContainer {
        grid-template-columns: repeat(1, 1fr);
    }
  }